src/celltreebench/datasets/arw_dataset_base.py
src/celltreebench/datasets/arw_utils.py
src/celltreebench/datasets/tumor_dataset_base.py
src/celltreebench/datasets/tumor_dataset_supervised.py
src/celltreebench/datasets/tumor_dataset.py
src/celltreebench/datasets/dnameth_dataset_base.py
src/celltreebench/datasets/mutation_dataset.py
src/celltreebench/datasets/celegans_dataset_unsupervised.py
examples/out
examples/supervised_training.ipynb
src/celltreebench/curation